<div
  id="battle-screen"
  class="grow min-h-screen text-center bg-white p-4 md:p-8 max-w-[900px]"
>
  <h2 id="battle-narration" class="text-2xl mb-8 md:text-3xl">
    Fire the Cannons
  </h2>
  <h2 class="text-2xl mb-8 md:text-3xl text-red-600">Enemy Waters</h2>

  <div id="battle-grid">
    <div id="x-alpha-axis">
      <div class="inner-axis">
        <span>A</span>
        <span>B</span>
        <span>C</span>
        <span>D</span>
        <span>E</span>
        <span>F</span>
        <span>G</span>
        <span>H</span>
        <span>I</span>
        <span>J</span>
      </div>
    </div>

    <div id="y-numeric-axis">
      <span>0</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
      <span>9</span>
    </div>
  </div>

  <h2 class="text-2xl mb-8 md:text-3xl text-green-600">Friendly Waters</h2>
</div>
