<div
  id="start-screen"
  class="grow flex flex-col min-h-screen text-center bg-black p-4 md:p-8 max-w-[900px]"
>
  <header>
    <h1 class="text-white text-5xl mb-8 md:text-7xl">BATTLESHIP</h1>

    <h2 class="text-white md:text-2xl">Non Standard Version</h2>
  </header>
  <main class="flex grow justify-center items-center">
    <button
      id="battleship-start"
      class="text-white text-4xl md:text-6xl animate-pulse battleship-start"
    >
      Start
    </button>
  </main>
  <footer>
    <p class="text-white md:text-2xl">
      By <a href="https://github.com/DaveBoydy">David Boyd</a>
    </p>
  </footer>
</div>
